<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    '/stylesheets/application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '/javascripts/application.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
